@model IEnumerable<GreenfieldLocal.Models.Suppliers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierInformation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierInformation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SuppliersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SuppliersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SuppliersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
