@model IEnumerable<GreenfieldLocal.Models.Suppliers>

@{
    ViewData["Title"] = "Index";
}

<h1>Our Local Suppliers</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Developer"))
{
    <p>
        <button style="background-color:#988C84; border-color:#988C84; border-radius:8px"> <a asp-action="Create">Create New</a> </button>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierInformation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierInformation)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                    {
                        <button> <a asp-action="Edit" asp-route-id="@item.SuppliersId" class="btn-lol">Edit</a> </button>
                        <button style="background-color:#988C84; border-color:#988C84; border-radius:8px"> <a asp-action="Delete" asp-route-id="@item.SuppliersId" class="btn-lol">Delete</a> </button>
                    }
                    <button> <a asp-action="Details" asp-route-id="@item.SuppliersId" class="btn-lol">Details</a> </button>
                </td>
        </tr>
}
    </tbody>
</table>
