@model IEnumerable<GreenfieldLocal.Models.Orders>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTrackingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTrackingStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrdersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrdersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrdersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
